:root {
  --title-color: #475270;
  --paragraph-color: #797598;
  --input-border-color: #D3D3DA;
  --input-background-color: #FFFFFF;
  --background-color: #FFFFFF;
  --success-color: #2FB876;
  --success-background: #EAFBF3;
  --error-color: #B82F48;
  --error-background: #FFECF0;
  --info-color: #2F56B8;
  --info-background: #EDF2FF; 
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Inter, sans-serif;
  background-color: var(--background-color);
  height: 100vh;
  width: 100%;
}

.content__container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 48px;
  color: var(--paragraph-color);
}

.content__container img {
  width: 50%;
}

.hero__content__container {
  width: 360px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.title__hero__content__container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.title__hero__content__container h1 {
  color: var(--title-color);
  font-size: 2.5rem;
}

.form__hero__content__container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.button__container {
  display: flex;
  gap: 8px;
  align-items: center;
}

.button__container button {
  flex: 1;
  padding: 16px 24px;
  border-radius: 6px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.1s ease-out;
}

.button__container button:hover {
  opacity: 0.9;
}

.primary-button {
  background-color: var(--title-color);
  color: var(--background-color);
  border: none;
}

.secondary-button {
  background-color: var(--background-color);
  color: var(--paragraph-color);
  border: 1px solid var(--input-border-color);
}

.form__hero__content__container input {
  padding: 12px;
  border-radius: 6px;
  border: 1px solid var(--input-border-color);
  background-color: var(--input-background-color);
}

.message__hero__content__container {
  padding: 12px;
  border-radius: 6px;
}

.success {
  background-color: var(--success-background);
  color: var(--success-color);
}
.error {
  background-color: var(--error-background);
  color: var(--error-color);
}
.info {
  background-color: var(--info-background);
  color: var(--info-color);
}