:root {
  --primary-text-color: #1f1f3b;
  --secondary-text-color: #757586;
  --primary-color: #4848ab;
  --primary-color-hover: #5f5fc2;
  --secondary-color: #dfe1ea;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  color: var(--primary-text-color);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
  height: 100vh;
  background: var(--secondary-color);
  font-family: Inter;
}

h1 {
  margin: 0;
  font-family: Inter;
  color: var(--primary-color);
}

h2 {
  margin: 0;
  color: var(--secondary-text-color);
}

button {
  padding: 0.75rem 2rem;
  border: none;
  border-radius: 2rem;
  background-color: var(--primary-color);
  font-weight: 500;
  color: white;
  cursor: pointer;
  transition: 0.1s ease-out;
}

button:hover {
  background-color: var(--primary-color-hover);
}

.container__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
}